@use "@/styles/functions" as f
@use "@/styles/mixins" as m

.hero
  height: 451px
  width: 100%
  position: relative
  overflow: hidden
  white-space: pre-line

  display: flex
  flex-direction: column
  gap: 17px
  text-align: center


  @include m.from(tablet)
    height: 420px
    text-align: start
    align-items: start
    gap: 22px
    margin: 0
  @include m.from(desktop)
    height: 490px

.hero__title
  margin-top: auto
  font-size: 36px
  font-weight: f.weight(extrabold)

  @include m.from(tablet)
    font-size: 48px
  @include m.from(desktop)
    font-size: 72px

.hero__title-accent
  color: f.color(accent-secondary)

.hero__subtitle
  font-size: 16px
  font-weight: f.weight(extrabold)

  @include m.from(tablet)
    font-size: 22px
  @include m.from(desktop)
    font-size: 32px

.hero__subtitle-accent
  color: f.color(accent-primary)

.hero__button
  margin-bottom: 44px
  align-self: center
  @include m.from(tablet)
    align-self: start
    margin-bottom: auto
