$colors: (
  accent-primary: #ebff00,
  accent-secondary: #ff70d9,
  accent-tertiary: #ffdc58,
  bg-page: #000000,
  bg-primary: #0d1e48,
  bg-secondary: #304571,
  text-primary: #ffffff,
) !default;

$breakpoints: (
  mobile: 768px,
  tablet: 1248px,
) !default;

$font-weight: (
  bold: 700,
  extrabold: 800,
) !default;

